
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: gray;
    padding: 45px;
    display: flex;
}
.card{
    background-color: white;
    width: 198px;
    /* height: 355px; */
    border-radius: 9px;
    padding: 0 0 34px 0;
    margin: 4px;

}
.image{
    padding: 5px;
}

.image img{
    border-radius: 7px;
}
.content{
    padding: 7px 13px;
    font-family: "Poppins", sans-serif;
    /* font-weight: 300; */
    /* font-style: normal; */
}
.content p{
    font-size: 12px;
    color: gray;
        
          
}
.capsules{
    padding: 2px 18px;
}
.capsules span{
    border: 2px solid gray;
    padding: 0px 6px;
    border-radius: 7px;
    font-size: 12px;
    font-family: "Baloo 2", sans-serif;  

}
.button{
    text-align: center;
    
}
.button button{
    padding: 7px 13px;
    border: none;
    background-color: rgb(168, 168, 228);
    color: blue;
    border-radius: 7px;
    font-size: 10px;
    cursor: pointer;
}
.button button:hover{
    background-color: rgb(182, 182, 245); 
    color: blue;
}